<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is generic url mapping</h1>
        <h1><a href="{% url 'tarak:a1_hai' %}">It is mapping to a1_hai html page </a></h1>
        <h1><a href="{% url 'tarak:a1_hello' %}">It is mapping to a1_hello html page</a></h1>
    </center>
</body>
</html>